@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700&display=swap');
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul,
ol,
li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}
html,
body {
    height: 100%;
    line-height: 1;
    font-size: 16px;


    font-family: "Montserrat", sans-serif;
    padding: 0;
    margin: 0;
    border: 0;
}
.main_wrapper {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
.header__wrapper {
    height: 160px;
    width: 100%;
    background-color: antiquewhite;
}
.address_phone_block {
    width: 100%;
    height: 40px;
    background-color: #041332;
    color: #ffffff;
    font-size: 16px;
}
.address_phone_block-wrapper{
    max-width:  73%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.address_block {
    width: 20%;
}
.phone__block {
    width: 33%;
    display: flex;
    justify-content: space-between;
}
.phone__block_mobile span{
    color: #F55B14;
}
.header__block {

    background-color: #fff;
    height: 120px;

}
.header__block_wrapper{
    max-width: 73%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.header_logo {
    display: flex;
    align-items: center;
}
.header_logo_img {
    background-color: #F55B14;
    width: 63px;
    height: 63px;
    border-radius: 50%;
    margin-right: 20px;
}
.header_logo_name {
    line-height: 64px;
    letter-spacing: 5px;
    font-size: 32px;
    font-weight: 700;
}
.navigation_header {
    display: flex;
}
.nav__block {
    display: block;
    margin-left: 40px;
}
.nav__block-a {
    color: #000;
    font-size: 15px;
    font-weight: 600;
}
.nav__block-a:hover{
    color: #F55B14;
}
.promo__block {
    background-image: url('/img/1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: calc(100vh - 160px);
    display: flex;
    align-items: center;
    justify-content: center;
}
.promo__block_background{
    width: 100%;
    height: 100%;
    background-color: rgba(4, 13, 52, 0.5);
}
/*******PROMO***************/
.promo__block_container {
}
.promo__block_desc {
}
.promo__block__text {
}
.promo__block__button {
}
/*********PROMO*************/
.catalog__wrapper {
    width: 100%;
    padding-top: 134px;
    padding-bottom: 100px;
}
.catalog__name_desc {
    max-width: 73%;
    margin: 0 auto;

}
.catalog__name_desc_wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.catalog_name {
    font-size: 36px;
    font-weight: 700;
}
.catalog_name-p {

}
.catalog__desc {
    font-size: 14px;
    font-weight: 500;
    max-width: 60%;

}
.catalog__desc-p {
    line-height: 25.2px;
    font-size: 14px;

}
.catalog__items__wrapper {

    max-width: 73%;
    margin: 0 auto;
    margin-top: 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 600px;
}
.catalog__item:nth-child(1) {
    margin-right: 30px;

}
.catalog__item:not(first-child){
    margin-right: 30px;
}
.catalog__item{
    width: 255px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.catalog_item_image {
    background-color: #D9D9D9;
    width: 225px;
    height: 225px;
    border-radius: 50%;

}
.catalog_item_image-more{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 600;
    color: #000;
}
.catalog_item_image-more img {
    width: 35px;
    height: 25px;
}
.catalog_item_name {
    margin-top: 10px ;
    line-height: 30px;
    size: 18px;
}
.about_us___wrapper {
    background-color: #FAFAFA;
    width: 100%;
    padding-bottom: 110px;
}
.about_us__wrapper_wrap{
    max-width: 73%;
    margin: 0 auto;
}
.about_us__name {
    font-weight: 700;
    font-size: 36px;
    width: 100%;
    text-align: center;
    padding-top: 65px;
    margin-bottom: 65px;
}
.about_us__foto_desc_wrap {
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.about__us__photo {
    background-color: #D9D9D9;
    height: 490px;
    width: 40%;
}
.about__us__text {
    width: 50% ;
    line-height: 32px;
    font-size: 16px;
}
.about__us__text-p {
}
.about__us__text-button{
    margin-top: 34px;
}

.about__us__text-button a{
    background: rgba(168, 168, 168, 1);
    font-size: 18px;
    line-height: 29px;
    font-weight: 600;
    padding: 5px 40px 5px 40px;
    color: #fff;

}
.about__us__connect-a {
}
.work_with_wrapper {
    background-color: #FEF9EE;
    width: 100%;
    padding-top: 53px;
    padding-bottom: 53px;
}
.work_with_elements_wrapper {
    max-width: 79%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.work__element {
    max-width: 250px;
    line-height: 22px;
    font-size: 14px;
}
.work__element_desc {
    line-height: 37px;
    font-size: 30px;
    font-weight: 700;
}
.work__element  span{
    font-weight: 700;
    font-size: 14px;
    line-height: 22.5px;
}
.make_order__wrapper {
    width: 100%;
    background-color: #fff;
    padding-bottom: 80px;
}
.make_order__wrapper-wrap{
    max-width: 73%;
    margin: 0 auto;
}
.make_order__name {
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    margin-top: 75px;
    margin-bottom: 33px;
    width: 100%;
    text-align: center;
}
.make_order__desc {
    font-size: 16px;
    line-height: 32px;
    font-weight: 500;
}
.make_order__images {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 45px;
}
.make_order__image {
    border-radius: 19px;
    overflow: hidden;
}
.make_order__image-img {
}
.contact_with_us__wrapper {
    width: 100%;
    background-color: #FAFAFA;
}
.contact__with_us_name {
}
.contact__with_us_desc {
}
.contact__with_us_data {
}
.contact__with_us_data-numbers {
}
.contact__with_us_data-numbers-p {
}
.contact__with_us_data-numbers-p2 {
}
.contact__with_us_data-adress {
}
.contact__with_us_data-p {
}
.contact__with_us_data-social {
}
.contact__with_us_data-social_block {
}
.contact__with_us_form {
}
.contact__with_us_form-form {
}
.contact__form_name {
}
.contact__form-info {
}
.contact__form-info_input {
}
.contact__form-message {
}
.contact__form-button {
}
.footer__wrapper {
}
.footer__content {
}
.footer__legacy_wrap {
}
.footer__element {
}
.footer__element-created_by {
}